CSV_PATH=data/data.csv
HDF5_PATH=data/data.h5
CHUNK_SIZE=5000

SQL_URI=postgresql://etl_user:etl_pass@localhost:5432/api-design
SQL_TABLE=tracks

POSTGRES_USER=etl_user
POSTGRES_PASSWORD=etl_pass
POSTGRES_DB=api-design-postgres
POSTGRES_PORT=5432
POSTGRES_HOST=localhost
